name: audit
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-audit
  cancel-in-progress: true
jobs:
  clamav:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
      - uses: djdefi/gitavscan@main
        with:
          full: '--full'
  trivy:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
      issues: write
    steps:
      - uses: actions/checkout@v6
      - uses: aquasecurity/trivy-action@master
        with:
          github-pat: ${{ secrets.GITHUB_TOKEN }}
          scan-type: fs
          format: json
          output: result.json
          ignore-unfixed: true
        env:
          TRIVY_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-db:latest
      - uses: CemitDigital/trivy-report-issue-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          input-filename: result.json
          assignee: pranc1ngpegasus
