name: protobuf
on:
  pull_request:
    paths:
      - '**/*.proto'
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-protobuf
  cancel-in-progress: true
jobs:
  protolint:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
      - uses: yoheimuta/action-protolint@v1
        with:
          reporter: 'github-pr-review'
          github_token: ${{ secrets.GITHUB_TOKEN }}
