name: sql
on:
  pull_request:
    paths:
      - '**/*.sql'
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-sql
  cancel-in-progress: true
jobs:
  sqruff:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: quarylabs/install-sqruff-cli-action@main
      - run: sqruff lint . --format github-annotation-native
